.workoutWeek {
  padding: 0 1.5rem;
  list-style-type: none;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.workoutWeek__active {
  @extend .workoutWeek;
  background-color: lightyellow;
  border: 1px solid yellow;
}
