.workoutDay {
  padding: 0 2rem;
  box-sizing: border-box;
  list-style-type: none;
  border: 1px solid lightgray;
  border-radius: 3px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.workoutDayActive {
  @extend .workoutDay;
  background-color: lightgreen;
  border: 1px solid darkgreen;
}

.workoutRound {
  padding: 1rem;
}
